<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559254163826-b3g9v4a26u02392kc1irbfg4omv5oqji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559254163826-b3g9v4a26u02392kc1irbfg4omv5oqji</string>
	<key>API_KEY</key>
	<string>AIzaSyBW2Q4lfac2MXJlFJ1VOmCnQFlgPXdMsgA</string>
	<key>GCM_SENDER_ID</key>
	<string>559254163826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laza</string>
	<key>PROJECT_ID</key>
	<string>laza-4c8d7</string>
	<key>STORAGE_BUCKET</key>
	<string>laza-4c8d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559254163826:ios:96f2702bc4d7635fac4deb</string>
</dict>
</plist>